body
{
    background-color: #b0aaa9;
}
div[id="todoapparea"]
{
    border:10px solid #5d8768;
    width: 400px;
    height: 600px;
    margin-left: 200px;
    background-color: white;
    border-radius: 3%;
    margin-top: 100px;
}
div[id="partone"]
{
    height: 100px;
    width: 90%;
    border-bottom-style: groove;
    margin: 20px;
}
#newtask
{
    height:50px;
    border-top-style: groove;
    border-bottom-style: groove;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    box-sizing: border-box;
}